In [ ]:
%cd /content/sample_data/

/content/sample_data

In [ ]:
pip install xlrd

Requirement already satisfied: xlrd in /usr/local/lib/python3.7/dist-packages (1.1.0)

In [ ]:
import pandas as pd

data = pd.read_csv('data_pmi_gd.csv', decimal=',')
data.head()

     Tanggal IN / OUT Nomor GDN/GRN  ...         Jumlah  Berat Total Berat
0  01-Feb-20       IN         01.01  ...  2.450.000.000  0.006      2100.0
1  01-Feb-20      OUT         01.01  ...     86.592.000  0.040        32.0
2  01-Feb-20      OUT         01.02  ...    140.000.000  0.006       120.0
3  05-Feb-20      OUT         05.01  ...    350.000.000  0.006       300.0
4  05-Feb-20      OUT         05.02  ...     28.000.000  0.006        24.0

[5 rows x 14 columns]

In [ ]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 8189 entries, 0 to 8188
Data columns (total 14 columns):
 #   Column               Non-Null Count  Dtype
---  ------               --------------  -----
 0   Tanggal              8189 non-null   object
 1   IN / OUT             8189 non-null   object
 2   Nomor GDN/GRN        8188 non-null   object
 3   Gudang               8189 non-null   object
 4   Dari/Kepada-Masking  8189 non-null   object
 5   Nama Barang          8189 non-null   object
 6   Merk/Jenis-Deleted   4344 non-null   object
 7   Satuan               8187 non-null   object
 8    Masuk               812 non-null    object
 9    Keluar              7374 non-null   object
 10  Nilai                7672 non-null   object
 11   Jumlah              7763 non-null   object
 12  Berat                8094 non-null   float64
 13  Total Berat          8189 non-null   float64
dtypes: float64(2), object(12)
memory usage: 895.8+ KB

In [ ]:
data = data.rename(columns={' Masuk':'Masuk',' Keluar':'Keluar',' Jumlah':'Jumlah'})

In [ ]:
data['Tanggal'] = data['Tanggal'].astype(str).str.replace('Mei', 'May', regex=False)
data['Tanggal'] = data['Tanggal'].astype(str).str.replace('Agu', 'Aug', regex=False)
data['Tanggal'] = data['Tanggal'].astype(str).str.replace('Okt', 'Oct', regex=False)
data['Tanggal'] = data['Tanggal'].astype(str).str.replace('Des', 'Dec', regex=False)

In [ ]:
data['Tanggal'] = pd.to_datetime(data['Tanggal'])

In [ ]:
data.loc[564]

Tanggal                    2020-03-19 00:00:00
IN / OUT                                   OUT
Nomor GDN/GRN                            19.22
Gudang                                      G2
Dari/Kepada-Masking    PMI Provinsi Jawa Barat
Nama Barang                       Masker Bedah
Merk/Jenis-Deleted                       3 Ply
Satuan                                     Pcs
Masuk                                      NaN
Keluar                                  1.000
Nilai                                    7.000
Jumlah                               7.000.000
Berat                                    0.006
Total Berat                                  6
Name: 564, dtype: object

In [ ]:
data = data.replace({'Keluar': {564: np.nan}})

In [ ]:
data[['Keluar','Nilai','Jumlah','Berat','Total Berat']] = data[['Keluar', 'Nilai', 'Jumlah','Berat','Total Berat']].apply(pd.to_numeric)

ValueError: ignored

In [ ]:
data.loc[565]

Tanggal                    2020-03-19 00:00:00
IN / OUT                                   OUT
Nomor GDN/GRN                            19.22
Gudang                                      G3
Dari/Kepada-Masking    PMI Provinsi Jawa Barat
Nama Barang                            Sprayer
Merk/Jenis-Deleted                    Elektrik
Satuan                                    Unit
Masuk                                      NaN
Keluar                                      -
Nilai                                  650.000
Jumlah                                       0
Berat                                      7.3
Total Berat                                  0
Name: 565, dtype: object

In [ ]:
data.to_excel(r'/content/sample_data/pre_data_pmi_fix.xlsx')

In [ ]:
data

        Tanggal IN / OUT Nomor GDN/GRN  ...         Jumlah  Berat Total Berat
0    2020-02-01       IN         01.01  ...  2.450.000.000  0.006     2100.00
1    2020-02-01      OUT         01.01  ...     86.592.000  0.040       32.00
2    2020-02-01      OUT         01.02  ...    140.000.000  0.006      120.00
3    2020-02-05      OUT         05.01  ...    350.000.000  0.006      300.00
4    2020-02-05      OUT         05.02  ...     28.000.000  0.006       24.00
...         ...      ...           ...  ...            ...    ...         ...
8184 2021-04-26      OUT             -  ...              0    NaN        0.00
8185 2021-04-26      OUT             -  ...              0    NaN        0.00
8186 2021-04-26      OUT             -  ...              0    NaN        0.00
8187 2021-04-27      OUT         27.01  ...         31.000  0.780        1.56
8188 2021-04-27      OUT         27.01  ...         40.000  0.430        0.86

[8189 rows x 14 columns]